head, title {
	background-color: #CCCCFF;
	color: #330033;
	font-family: helvetica;
	text-align: center;
}

body {
	background-color: #CCCCFF;
	color: #330033;
	font-family: helvetica;
	text-align: left;
}

#messages {
	background-color: #330033;
	color: #CC6633;
	font-family: helvetica;
	text-align: left;
}